body{
     padding: 5px;   
}    

fieldset{
    border-radius: 2px;
    margin-bottom: 10px;
}

legend {
    font-weight:700;
    font-size: 18px;
}    

.app{
     width: 75px;
    
}

.mnemonic-toggle{
     width: 250px;   
}    

.result-icon {
    -webkit-transform: scale(0); /* Safari and Chrome */
   -webkit-transition: -webkit-transform 1s ease-out; 
}

.question{
    font-style:italic;
    font-size: 24px;
}    

textarea {
    max-width: 100%;   
}   

.person-type {
    width: 250px;  
    margin-bottom: 10px;
}   

.textinput{
     width: 100%;   
}
.topcoat-text-input--large:disabled {
    height: 0;
}    

.mnemonic-toggle .app{
     -webkit-filter: saturate(.3);
} 

.mnemonic-toggle .app-checked{
     -webkit-filter: saturate(1.2);
} 